body {
  font-family: cursive;
  background-color: white;
  padding: 3em;
}

div {
  background-color: white;
  color: red;
  margin:auto;
  text-align: center;
}

a:link {
  font-size: 1.5em;
  color: red;
  text-decoration: none;
}

a:visited {
  color: #00ff00;
}

a:hover {
  color: red;
}

a:active {
  color: black;
}

hr {
  border: .25em;
  border: solid;
  color:#00ff00;
}

h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr, th, td {
  border: .25em solid #00ff00;
}

tr {
  text-align: center;
}
